h1
{text-align: center;
text-shadow: 6px 6px 10px;
border: solid;}

body
{background: linear-gradient(to right, #bdc3c7 , #2c3e50);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

