
body 
{background-color: #1F2039;
font-family: 'Vollkorn', serif;
color: whitesmoke;}

h1
{color:#526efa;
font-style: italic;
}

h2,h3
{color:#A5B4FC ;}

h3
{text-decoration: underline;} 

h4
{color: wheat;}